.task-dialog{
    top: 120%;
    margin: 0 auto 0 auto;
    width: 350px;
    display: grid;
    opacity: 0;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background: var(--dialog-background);
    transition: opacity 1.5s ease, top 0.3s ease;
}

.task-dialog .dialog-form{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.task-dialog input[type="text"], .task-dialog input[type="date"], .task-dialog fieldset {
    width: 80%;
}

.task-dialog input[type="text"], .task-dialog input[type="date"]{

}

.task-dialog fieldset{
    display: grid;
    gap: 10px;
    padding: 10px;
}

.task-dialog fieldset div{
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

.task-dialog button{
    border: 1px solid var(--dark-accent);
    padding: 10px;
    width: 40%;
    background: none;
}

.task-dialog button:hover{
    background: var(--orange-accent);
    color: var(--dialog-background);
    border: 1px solid var(--dialog-background);
}
