.task-dialog{
    top: 50%;
    margin: 0 auto 0 auto;
    width: 350px;
    display: none;
    opacity: 0;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background: var(--dialog-background);
    transition: opacity 1s ease, top 0.3s ease;
}

.task-dialog .dialog-form{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.task-dialog input[type="text"], .task-dialog input[type="date"], .task-dialog fieldset {
    width: 80%;
}

.task-dialog input[type="text"], .task-dialog input[type="date"]{
    appearance: none;
    border: none;
    height: 35px;
    background: none;
    border-bottom: 1px solid;
}

.task-dialog input[type="radio"]{
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid var(--dark-accent);
    transition: all 0.3s ease-in;
}

.task-dialog input[type="radio"]:checked{
    border: 5px solid rgb(var(--orange-accent));
}

.task-dialog fieldset{
    display: grid;
    gap: 10px;
    padding: 10px;
}

.task-dialog fieldset div{
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

.task-dialog button{
    border: 1px solid var(--dark-accent);
    padding: 10px;
    width: 40%;
    background: none;
}

.task-dialog button:hover{
    background: rgb(var(--orange-accent));
    color: var(--dialog-background);
    border: 1px solid var(--dialog-background);
}