
.footer{
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    bottom: 0;
    position: sticky;
    /* background: linear-gradient(to bottom, rgba(247, 244, 243, 0) 0%, rgba(247, 244, 243, 0) 50%, rgba(248, 67, 18, 1) 50%, rgba(248, 67, 18, 1) 100%); */
    background: linear-gradient(to bottom, rgba(var(--main-color), 0) 0%, rgba(var(--main-color), 0) 50%, rgba(var(--orange-accent), 1) 50%, rgba(var(--orange-accent), 1) 100%);
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    /* border: 1px solid; */
}

.footer .add-task-btn{
    background: rgb(var(--orange-accent));
    cursor: pointer;
    grid-row: 1/3;
    grid-column: 1/3;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    align-self: center;
    border: 8px solid rgb(var(--main-color));
    transition: background 0.3s ease-in;
}

.footer .add-task-btn:hover{
    background-color: var(--footer-hover);
}

.footer .menu-btn{
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    width: 50%;
    transition: background 0.3s ease-in;
}
@media screen and (max-width: 1024px) {
    .footer{
        height: 100%;
        min-height: 6rem;
    }
    .footer .add-task-btn{
        height: 5.5rem;
        width: 5.5rem;
    }
  }
  