
.footer{
    grid-column: 1/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--main-color) 0%, var(--main-color) 50%, var(--orange-accent) 50%, var(--orange-accent) 100%);
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    border: 1px solid;
}

.footer .add-task-btn{
    background: var(--orange-accent);
    cursor: pointer;
    grid-row: 1/3;
    grid-column: 1/3;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    align-self: center;
    border: 8px solid var(--main-color);
    transition: background 0.3s ease-in;
}

.footer .add-task-btn:hover{
    background-color: var(--footer-hover);
}

.footer .menu-btn{
    grid-column: 1/2;
    grid-row: 2/3;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    width: 50%;
    transition: background 0.3s ease-in;
}
@media screen and (max-width: 1024px) {
    .footer{
        height: 100%;
        min-height: 6rem;
    }
    .footer .add-task-btn{
        height: 5rem;
        width: 5rem;
    }
  }
  