.header-container{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.header{
    width: 230px;
    height: 100%;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}