@import url(./footer.css);
@import url(./sidemenu.css);

:root{
    --main-color: #F7F4F3;
    --orange-accent: #F84312;
    --plat-accent: #DCE3E4;
    --rose-accent: #EED3D7;
    --dark--accent: #090A0B;
    --footer-hover: #F96339;
    --sidebar-color: #EFE8E6;
    --main-border: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background: var(--main-color);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 4fr 1fr;
}

.main-body{
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
}