@import url(./footer.css);

:root{
    --main-color: #F5F5DC;
    --orange-accent: #F84312;
    --plat-accent: #DCE3E4;
    --rose-accent: #EED3D7;
    --dark--accent: #090A0B;
    --footer-hover: #F96339;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background: var(--main-color);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
}
